@import url("reset.css");

/* || Custom properties */
:root {
  --color-dark-blue: hsl(238 29% 16%);
  --color-soft-red: hsl(14 88% 65%);
  --color-soft-violet: hsl(273 75% 66%);
  --color-soft-blue: hsl(240 73% 65%);
  --color-grayish-blue-300: hsl(237 12% 33%);
  --color-grayish-blue-200: hsl(240 6% 50%);
  --color-grayish-blue-100: hsl(240 5% 91%);
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family-primary: "Kumbh Sans", sans-serif;
}

/* || Global styles */
body {
  background-image: linear-gradient(
    var(--color-soft-violet),
    var(--color-soft-blue)
  );
  font-family: var(--font-family-primary);
  color: var(--color-grayish-blue-200);
  font-size: 0.75rem;
  font-weight: var(--font-weight-regular);
  display: grid;
  place-content: center;
}

/* || FAQ accordion card component styles */
.accordion-card {
  margin: 8.5rem 1.5rem 2rem;
  padding: 3rem 1.5rem;
  max-width: 20.4375rem;
  background-color: white;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-radius: 1.4375rem;
  box-shadow: 0 3.125rem 3.125rem -1.25rem hsl(261 75% 27% / 0.5);
}

.accordion-card::before {
  content: "";
  display: block;
  margin: -9.8rem auto 3.75rem;
  background: no-repeat url("../images/illustration-woman-online-mobile.svg");
  max-width: 14.8125rem;
  width: 100%;
  height: 11.25rem;
}

.accordion-card__heading {
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
  line-height: 1;
  color: var(--color-dark-blue);
  margin-bottom: 1.1875rem;
}

.accordion-list {
  margin: 0;
  padding: 0;
}

.accordion {
  border-bottom: 1px solid var(--color-grayish-blue-100);
}

.accordion__title {
  font-weight: var(--font-weight-regular);
  font-size: 0.8125rem;
  line-height: 1.23;
  color: var(--color-grayish-blue-300);
}

.accordion__title--selected {
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-blue);
}

.accordion__button {
  all: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 1.1875rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  justify-content: space-between;
}

.accordion__button:hover {
  color: var(--color-soft-red);
}

.accordion__summary {
  flex: 1;
}

[aria-expanded="true"] .accordion__icon {
  transform: rotate(180deg);
}

.accordion__panel {
  padding-right: 2rem;
}

.accordion__details {
  margin-bottom: 1rem;
}
